<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClienteServidor.Properties.Settings.ConexiónOracle"
            connectionString="Data Source=oracle;Persist Security Info=True;User ID=bd07;Password=fercab;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>